.title {
   text-align: center;
}

#form {
    justify-items: center;
}

#taskmanager {
    background-color: lightgray;
    justify-items: center;
}

th {
    width: 100px;
    background-color: lightblue;
}

td {
    width: 25px;
}